html,
body {
	height: 100%;
	margin: 0;
}

body {
	background: linear-gradient(0deg, black, #310a52);
}

* {
	font-family: Sora, sans-serif;
	font-display: swap;
}

@font-face {
	font-family: Sora;
	src: url('/fonts/Sora-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}
